body {
    font: Arial, Veranda;
    background-color: #000000;
    color: #ffffff;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

h1 {
    font-size: 42px;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: #707070;
}

p {
    font: 24px;
    color: #707070;
    padding-top: 10px;
    padding-left: 10px;
}

img {
    width: 250px;
    border: solid 3px #ffffff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div {
    min-height: 125px;
    padding: 20px;
    border: solid 3px #ffffff;
}

.introduction {
    border-radius: 15px;
    margin-top: 15px;
    line-height: 200%;
}

.red {
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-bottom: solid 2px #ffffff;
    border-left: solid 5px #ffffff;
}

.blue {
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-top: solid 2px #ffffff;
    border-right: solid 5px #ffffff;
}

.yellow {
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-bottom: solid 2px #ffffff;
    border-left: solid 5px #ffffff;
}

.green {
    background-color: #00EB00;
    text-align: left;
    margin-right: 50px;
    border-top: solid 2px #ffffff;
    border-right: solid 5px #ffffff;
}

footer {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 25%, rgba(0,102,255,1) 70%, rgba(0,0,0,1) 100%);
    border: solid 5px #ffffff;
}

footer p {
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px;
}